<div class="page-header">
  <div class="container">
      <h1>Airlines</h1>
  </div>
</div>

<div class="container">

  <div class="row end-xs mt-1">
      <div class="col-xs-12">
          <input type="text" class="searh-input" placeholder="Search Airlines" [(ngModel)]="filterString"
              (keyup)="filterAirlines()">
          <a routerLink="/getairline/add" mat-raised-button color="primary" class="ml-1">Add New Airline</a>
      </div>
  </div>

  <div class="mt-1 mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource" class="">

      <ng-container matColumnDef="logo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Logo</th>
          <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.logo != '';else conditionNotMet">
                  <img src="{{displayProfileImageUrl}}{{element.logo}}" />
              </ng-container>
          </td>

          <ng-template #conditionNotMet>
              <img src="{{displayDefaultimage}}" />
          </ng-template>
      </ng-container>


          <ng-container matColumnDef="airlineName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Airline Name</th>
              <td mat-cell *matCellDef="let element"> {{element.airlineName}} </td>
          </ng-container>


          <ng-container matColumnDef="contactNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</th>
              <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="contactAddress">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Address</th>
              <td mat-cell *matCellDef="let element"> {{element.contactAddress}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
                  <!-- Edit Column -->
          <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                  <a [routerLink]="['/getairline', element.airlineId]">
                      <mat-icon color="primary">edit</mat-icon>
                  </a>
              </td>
          </ng-container>

          <ng-container matColumnDef="block/unblock" >
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element" >

              <div *ngIf="element.status==='Active'">
                  <button mat-raised-button color="warn" (click)="onBlock(element.airlineId)">Block</button>
              </div>
              <div *ngIf="element.status!=='Active'">
                  <button mat-raised-button color="accent" (click)="onUnblock(element.airlineId)">Unblock</button>
              </div>
              </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" z->
      </mat-paginator>

  </div>

</div>
