<div class="page-header">
  <div class="container">
      <h1>{{header}}</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
      <div class="col-xs-12 row end-xs">
          <a routerLink="/airlines" color="primary" mat-raised-button>
              <mat-icon>chevron_left</mat-icon>
              Go Back
          </a>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-6">

          <form #airlinetDetailsForm="ngForm">

              <div class="row">
                  <div class="col-xs-6">
                      <mat-form-field appearance="outline">
                          <mat-label>Airline Name</mat-label>
                          <input type="text" matInput [(ngModel)]="airline.airlineName" name="airlineName" required>
                          <mat-error>Airline Name is a required field</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                      <mat-form-field appearance="outline">
                          <mat-label>Airline Contact Number</mat-label>
                          <input type="text" matInput [(ngModel)]="airline.contactNumber" name="contactNumber" required>
                          <mat-error>Contact Number is a required field</mat-error>
                      </mat-form-field>
                  </div>
              </div>


              <div class="row">
                  <div class="col-xs-12">
                      <mat-form-field appearance="outline">
                          <mat-label>Airline Contact Address</mat-label>
                          <textarea matInput [(ngModel)]="airline.contactAddress" name="contactAddress"></textarea>
                      </mat-form-field>
                  </div>
              </div>


              <div class="row">
                  <div class="col-xs-12">
                      <div class="row between-xs" *ngIf="!isNewAirline">
                          <button mat-raised-button color="primary" (click)="onUpdate()">Save</button>
                          <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
                      </div>
                      <div class="row between-xs" *ngIf="isNewAirline">
                          <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>

   <div class="col-xs-6">
      <!-- Profile Image -->
      <div class="row center-xs">
          <div class="image-container">
              <img [src]="displayProfileImageUrl" alt="Profile Image">
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 row center-xs mt-1" *ngIf="!isNewAirline">
              <input hidden type="file" #imageUpload (change)="uploadImage($event)">
              <button mat-raised-button color="primary" (click)="imageUpload.click()">Change Image</button>
          </div>
      </div>
   </div>

  </div>

</div>
